.box-filters-name-e-numeric {
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
}

.span-filter {
  font-weight: bolder;
  margin-right: 5px;
}

.filter-numeric {

  margin-right: 5px;
  width: 120px
}

.button {
  background-color: #161A1D;
  border-radius: 5px;
  box-shadow: 7px 5px 5px #B1A7A6;
  color: #B1A7A6;
  font-weight: bolder;
  width: 120px;
}
